/* reset */
/* not in used in this example
* {
    margin: 0;
    padding: 0;
}
*/

/* generic table */
.red,
.green,
.blue {
    color: white;
}

.red {
    background-color: red;
}
.green {
    background-color: green;
}
.blue {
    background-color: blue;
}

/* grid based table */
.grid {
    display: inline-grid;
    grid-gap: 2px;
    grid-template-columns: repeat(4, 1fr);
}

.cell {
    padding: .1em;
}